    *{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}
body{
    font-family: 'Raleway', sans-serif;
}
html{
    -webkit-scroll-behavior: smooth;
    scroll-behavior: smooth;
}
.Conteneur{
	max-width: 1400px;
    width: 94%;
	margin: auto;
}
button{
    cursor: pointer;
}


 /* ENTETE */

.Contenu-Header{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.logo img{
    width: 61px;
}
.Contenu-Header ul {
    display: flex;
}
.Contenu-Header ul li {
    position: relative;
}
.Contenu-Header ul li a {
    font-size: 16px;
    color: black;
    margin: 0 15px;
    padding-top: 10px;
}
.Contenu-Header ul li a::before{
    content: "";
    width: 100%;
    height: 2px;
    background-color: #0065FC;
    position: absolute;
    top: -20px;
    left: 0px;
    display: none;
}
.Contenu-Header ul li a:hover{
    color: #0065FC;
}
.Contenu-Header ul li a:hover::before{
    display: block;
}


 /* RECHERCHE */

.Recherche{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}
.Recherche h2{
    font-size: 22px;
}
.Recherche p {
    margin-top: 10px;
}
.Formulaire-Recherche{
    display: flex;
    margin-top: 20px;
}
.Formulaire-Recherche .IconeLocalisation{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 49px;
    background-color: #F2F2F2;
    border-radius: 15px 0px 0px 15px;
}
input[type="search"]{
    width: 250px;
    height: 49px;
    text-align: center;
    border: 1px solid #F2F2F2;
}
input::placeholder {
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
}
.Formulaire-Recherche input[type="button"]{
    width: 132px;
    border: none;
    border-radius: 0px 15px 15px 0px;
    cursor: pointer;
    background: #0065FC;
    color: white;
    font-size: 18px;
    line-height: 21px; ;
}
.Formulaire-Recherche button{
    display: none;
    width: 49px;
    border: none;
    border-radius: 0px 15px 15px 0px;
    background: #0065FC;
    color: white;
}


 /* FILTRES */

.Filtres{
    display: flex;
    align-items: center;
    margin-top: 30px;
}
.Boutons-Filtres{
    display: flex;
}
.Filtres h1{
    font-size: 18px;
    line-height: 21px;
}
.Filtres button {
    display: flex;
    align-items: center;
    height: 50px;
    margin: 0 10px;
    font-size: 17px;
    line-height: 20px;
    font-weight: bold;
    padding: 15px;
    border: 2px solid #D9D9D9;
    border-radius: 25px;
    background-color: white ;
}
.Filtres button:hover{
    background-color: #DEEBFF;
}
.Filtres button i {
    margin-right: 15px;
    color: #0065FC ;
}
.Bloc-Info{
    display: flex;
    align-items: center;
    margin: 30px 20px 20px 10px;
}
.Bloc-Info span{
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #D9D9D9;
    border-radius: 50%;
    margin-right: 11px;
}
.Bloc-Info span i {
    color: #0065FC;
}


 /* HEBERGEMENTS */

#Hebergements{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
   
}
.Hebergements-Marseille{
    width:65%;
    height: 100%;
    background: #F2F2F2;
    border-radius: 20px;
    padding: 20px;
}
.Hebergements-Marseille h2{
    font-size: 22px;
    line-height: 26px;
}
.Liste-Hebergements{
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
}
.Liste-Hebergements a {
    width: 30%;
    height: 100%;
}
.carte{
    width: 100%;
    height: 199px;
    background: #FFFFFF;
    border-radius: 20px;
    margin-top: 20px;
    padding: 4px;
    box-shadow: 4px 4px 5px -2px rgba(0,0,0,0.6);
}
.carte img {
    width: 100%;
    height: 60%;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
}
.carte figcaption{
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 10px;
}
.carte figcaption h3{
    font-size: 16px;
    line-height: 19px;
    color: black;
}
.carte figcaption p {
    font-size: 14px;
    color: black;
}
.Etoile i{
    width: 12px;
    height: 12px;
    margin-right: 5px;
    color: #0065FC;
}
.Etoile i:last-child{
    color: #D9D9D9;
}
.Afficher-plus{
    display: block;
    margin-top: 30px;
}
.Afficher-plus a{
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    cursor: pointer;
    font-weight: bold;
}


 /* PLUS POPULAIRES */
 
.Plus-populaire{
    display: flex;
    width: 30%;
    border-radius: 20px;
    padding: 20px;
    flex-direction: column;
    align-items: center;
    background: #F2F2F2;
}
.Titre{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.Titre h2{
    margin-top: 10px;
    font-size: 22px;
    line-height: 26px;
    font-weight: 700;
}
.Titre i{
    height: 15.75px;
    width: 18px;
    color: #0065FC;
}
.Hebergement-populaire{
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 20px;
}
.Plus-populaire-Carte{
    display: flex;
    height: 144px;
    flex-direction: row;
    border-radius: 20px;
    padding: 4px;
    background: #FFFFFF;
}
.Plus-populaire-Carte img{
    width: 43%;
    border-radius: 20px 0px 0px 20px;
    object-fit: cover;
}
.Plus-populaire-Carte figcaption{
    display: flex;
    flex-direction: column;
    padding: 10px;
    position: relative;
}
.Plus-populaire-Carte figcaption h3{
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}
.Plus-populaire-Carte figcaption p{
    margin-top: 5px;
    font-size: 14px;
    color: #000000;
}
.Plus-populaire-Carte figcaption .Etoile{
    position: absolute;
    bottom: 1px;
}


 /* ACTIVITES */

#Activite{
    margin-top: 30px;
}
#Activite span {
    display: flex;
    font-size: 16px;
    line-height: 26px;
    
}
.Activites{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    gap: 20px;
}
.Activites a{
    width: 100%;
}
.Activite-Carte{
    height: 444.5px;
    border-radius: 20px;
    box-shadow: 4px 4px 5px -2px rgba(0,0,0,0.6);
}
.Activite-Carte img{
    width: 100%;
    height: 90%;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
}
.Activite-Carte figcaption{
    display: flex;
    height:10%;
    align-items: center;
}
.Activite-Carte figcaption h3{
    margin-left: 20px;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}


 /* PIED DE PAGE */

footer{
    display: flex;
    position: relative;
    top: 50px;
    background: #F2F2F2;

}
footer .pied-page{
    display: flex;
    width: 70%;
    justify-content: space-between;
    margin-left: 40px;
}
footer .pied-page div{
    margin-top: 40px;
}
footer .pied-page span{
    display: flex;
    flex-direction: column;
}
footer div h3{
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 20px;
}
footer span a{
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 10px;
    color: #000000;
}