@media (max-width:768px) {
    .Conteneur{
        padding: 0;
        width: 100%;
    }
    .Recherche, .Filtres, .BlocInfo, #activite{
        padding: 0 5%;
    }
    

    /* ENTETE*/

    .Contenu-Header{
        flex-direction: column;
        align-items: center;
    }
    .Contenu-Header ul{
        display: flex;
        width: 100%;
        justify-content: space-between;
        margin-top: 20px;
        border-bottom: 3px solid #D9D9D9;
    }
    .Contenu-Header ul li{
        width: 50%;
        margin-bottom: 20px;
        text-align: center;
    }
    .Contenu-Header ul li a::before{
        top: 40px;
    }
  

     /* FILTRE */

    .Filtres{
        align-items: baseline;
        flex-direction: column;
    }
    .Filtres button{
        width: 47%;
        font-size: 10px;
        line-height: 13px;
        white-space: nowrap;
    }
    .Filtres button i{
        margin-right: 7px;
        font-size: 17px;
    }
    .Boutons-Filtres{
        flex-wrap: wrap;
        margin:auto;
        margin-top: 20px;
        align-items: center;
        gap: 5px;
    }
  

     /* RECHERCHE */
    .Formulaire-Recherche button{
        display: block;
    }
    .Formulaire-Recherche input[type="button"]{
        display: none;
    }
    .Bloc-Info span{
        padding: 10px;
    }
  

     /* HEBERGEMENTS */

    #Hebergements{
        flex-direction: column-reverse;
        gap: 20px;
        padding: 0;
    }
    .Hebergement-populaire{
        flex-direction: column;
    }
    .Hebergement-populaire a{
        width: 100%;
        margin-bottom: 10px;
    }
    .Hebergements-Marseille, .Plus-populaire{
        border-radius: 0px;
    }
    .Hebergements-Marseille{
        background-color: #fff;
    }
    .Liste-Hebergements{
        flex-direction: column;
    }
    .Liste-Hebergements a {
        width: 100%;
    }


    /* ACTIVITES */

    .Activite{
        margin-top: 80px;
    }
    .Activites{
        flex-direction: column;
    }
    #Activite span {
        flex-direction: column;

    }
    .Activite-Carte{
        height: 199px;
    }
    .Activite-Carte img{
        height: 70%;
    }
    .Activite-Carte figcaption{
        height: 10%;
    }
  
    .Afficher-plus, .Afficher-plus a{
        display: none;
    }


    /* PIED DE PAGE */

    footer{
        width: 100%;
    }
    .pied-page{
        flex-direction: column;
        }
   }