@media  (max-width:992px) {
    /* *** */
    .BoutonsFiltres{
        display: flex;
    }
    .BoutonsFiltres button{
        margin: 0 3px;
    }
  
    /* ***** */
    #Hebergements{
        flex-direction: column;
    }
    .HebergementsMarseille{
        width: 100%;
    }
  
    /* *** */
    .Pluspopulaire{
        width: 100%;
        margin-top: 30px;
    }
    .Pluspopulairecarte figcaption h3{
        line-height: 16px;
    }
    .Hebergementpopulaire{
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
    }
    .Hebergementpopulaire a{
        width: 32%;
    }
  
    /* *** */
    .ActiviteCarte{
        height: 280px;
    }
    .ActiviteCarte img{
        height: 85%;
    }
    .ActiviteCarte figcaption{
        height: 15%;
    }
    .ActiviteCarte figcaption h3{
        margin-left: 16px;
        
    }

    
  }