@media  (max-width:992px) {
   /* FILTRES */

    .Boutons-Filtres{
        display: flex;
    }
    .Boutons-Filtres button{
        margin: 0 3px;
    }
  

     /* HEBERGEMENTS */

    #Hebergements{
        flex-direction: column;
    }
    .Hebergements-Marseille{
        width: 100%;
    }

   /* PLUS POPULAIRES */
    

    .Plus-populaire{
        width: 100%;
        margin-top: 30px;
    }
    .Plus-populaire-carte figcaption h3{
        line-height: 16px;
    }
    .Hebergement-populaire{
        
        flex-direction: row;
        justify-content: space-between;
        width: 100%;

    }
    .Hebergement-populaire a{
        width: 32%;
    }
  

    /* ACTIVITES */

    .Activite-Carte{
        height: 280px;
    }
    .Activite-Carte img{
        height: 85%;
    }
    .Activite-Carte figcaption{
        height: 15%;
    }
    .Activite-Carte figcaption h3{
        margin-left: 16px;
        
    }


     /* PIED DE PAGE */

    footer .pied-page{
        width: 85%;
    }
  }